@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    
}
section {
    margin: 0, auto;
    padding: 20px 0px 0px 0px;
    background-color: #3C3671;
    background-image: url(imgs/background.png); 
    background-position: right bottom 466px; 
    background-attachment: local;
    background-repeat: no-repeat; 
    background-size: 600px;
    height: 720px;
    color: white;

    
}
 h1 {
     margin: 80px 60px 0 60px;
     padding: 0px 0px 20px 60px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 35px;
 }
 .header-section > p {
    margin: 0px 60px;
    padding: 0px 0px 0px 60px;
    font-family: Arial, Helvetica, sans-serif;
 }
    
.container {
    width: 100%;
    height: 570px;
    display: flex;    
    align-items: center;     
    padding: 0;
    margin: 0px;
    color: white;
}
.container > img {
    min-width: 269.8px;
    max-width: 800px;
}
h2 {
    padding: 25px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
p {
    padding: 0px 20px 25px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.energia {
    background-color: #534B8D;
    width: 267px;
    height: 500px;
    margin: 0;
}
.industria {
    background-color: #3c3671;
    width: 267px;
    height: 500px;
    margin: 0;
    position: relative;
}
.conectividade {
    background-color: #534B8D;
    width: 267px;
    height: 500px;
    margin: 0;
    position: relative;
}
.meio-ambiente {
    background-color: #3c3671;
    width: 267px;
    height: 500px;
    margin: 0;
    position: relative;
}
.mobilidade {
    background-color: #534B8D;
    width: 273px;
    height: 500px;
    margin: 0px;
    position: relative;
}

.link-saiba-mais {
    display: inline;
    font-size: 16px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    
}
.link-saiba-mais > a {
    text-decoration: none;
    color: white;
}